In [3]:
import pandas as pd 
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

In [6]:
df=pd.read_csv("/home/ps/Downloads/melbhousingdata/melb_data.csv")
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [7]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
df=df.dropna(axis=0)

In [11]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

In [12]:
y=df.Price

In [14]:
df_features=['Rooms','Price','Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [15]:
X=df[df_features]

In [16]:
X.describe

<bound method NDFrame.describe of        Rooms      Price  Bathroom  Landsize  Lattitude  Longtitude
1          2  1035000.0       1.0     156.0  -37.80790   144.99340
2          3  1465000.0       2.0     134.0  -37.80930   144.99440
4          4  1600000.0       1.0     120.0  -37.80720   144.99410
6          3  1876000.0       2.0     245.0  -37.80240   144.99930
7          2  1636000.0       1.0     256.0  -37.80600   144.99540
9          2  1097000.0       1.0     220.0  -37.80100   144.99890
11         3  1350000.0       2.0     214.0  -37.80850   144.99640
12         2   750000.0       2.0       0.0  -37.80780   144.99650
15         2  1310000.0       1.0     238.0  -37.80900   144.99760
16         3  1200000.0       2.0     113.0  -37.80560   144.99300
17         3  1176500.0       1.0     138.0  -37.80210   144.99650
19         2   890000.0       1.0     150.0  -37.80110   145.00040
20         4  1330000.0       2.0     780.0  -37.80730   144.99520
23         2   500000.0       1.0       0.0  -37.80150   144.99720
24         2  1100000.0       2.0     124.0  -37.80790   144.99770
25         2  1315000.0       1.0     147.0  -37.80800   144.99400
27         3  1447500.0       3.0     166.0  -37.80170   145.00010
29         2  1135000.0       2.0      98.0  -37.80050   144.99520
32         3  1290000.0       1.0     168.0  -37.80070   144.99580
33         1   470000.0       1.0       0.0  -37.80550   144.99610
34         2  1180000.0       1.0     162.0  -37.80160   144.99560
35         3  1195000.0       2.0     120.0  -37.80220   144.99540
36         2  1012500.0       1.0     182.0  -37.80210   144.99760
37         2  1030000.0       1.0     172.0  -37.80860   144.99460
38         3   840000.0       2.0     303.0  -37.71800   144.87800
39         3   730000.0       2.0       0.0  -37.72030   144.87550
40         3   770000.0       2.0       0.0  -37.72030   144.87550
41         2   603000.0       1.0     272.0  -37.72940   144.88800
42         3   700000.0       2.0     239.0  -37.72180   144.88370
43         3   600000.0       1.0     290.0  -37.72730   144.87440
...      ...        ...       ...       ...        ...         ...
12154      4   880000.0       2.0     535.0  -38.09683   145.12981
12156      2   945000.0       1.0     126.0  -37.80473   144.89095
12157      3   730000.0       2.0     340.0  -37.83172   144.86683
12159      2   980000.0       1.0      64.0  -37.83326   144.95464
12164      2   570000.0       1.0       0.0  -37.84679   145.00206
12168      2   600000.0       1.0       0.0  -37.85911   144.97900
12169      2   360000.0       1.0     143.0  -37.57063   144.70693
12171      3   475000.0       1.0     754.0  -37.58442   144.75565
12172      3   495000.0       2.0     563.0  -37.57499   144.75329
12173      3   695000.0       1.0     694.0  -37.78871   144.81369
12174      3   760000.0       1.0    1143.0  -37.79135   144.79948
12175      3   583500.0       1.0     672.0  -37.80118   144.80996
12177      3   585000.0       2.0     662.0  -37.70525   144.75699
12180      3  1245000.0       2.0     779.0  -37.76311   145.10494
12181      6  2000000.0       3.0    1054.0  -37.77404   145.11703
12183      2   407000.0       1.0     140.0  -37.68199   145.01744
12186      3   891000.0       2.0     199.0  -37.75948   144.99615
12187      3   615500.0       2.0     238.0  -37.70322   144.88236
12188      2   300000.0       1.0       0.0  -37.69815   144.88019
12192      5  1310000.0       3.0     818.0  -37.87846   145.24212
12197      4   645000.0       2.0     555.0  -37.89359   144.66911
12198      4   482500.0       2.0     533.0  -37.89337   144.64003
12199      3   394000.0       2.0     287.0  -37.87895   144.67070
12202      4   821000.0       3.0     544.0  -37.67841   144.87924
12203      3   635000.0       2.0     691.0  -37.68026   144.88468
12205      3   601000.0       2.0     972.0  -37.51232   145.13282
12206      3  1050000.0       1.0     179.0  -37.86558   144.90474
12207      1   385000.0       1.0       0.0  -37.85588   144.89936
12209      2   560000.0       1.0       0.0  -37.85581   144.99025
12212      6  2450000.0       3.0    1087.0  -37.81038   144.89389

[6196 rows x 6 columns]>

In [17]:
X.head()

   Rooms      Price  Bathroom  Landsize  Lattitude  Longtitude
1      2  1035000.0       1.0     156.0   -37.8079    144.9934
2      3  1465000.0       2.0     134.0   -37.8093    144.9944
4      4  1600000.0       1.0     120.0   -37.8072    144.9941
6      3  1876000.0       2.0     245.0   -37.8024    144.9993
7      2  1636000.0       1.0     256.0   -37.8060    144.9954

In [27]:
from sklearn.tree import DecisionTreeRegressor

In [24]:
df_model=DecisionTreeRegressor(random_state=1)

In [28]:
df_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [29]:
print("Making Predictions for first few Houses")

Making Predictions for first few Houses

In [30]:
print(X.head())
print("The Prediction Are")
print(df_model.predict(X.head()))

   Rooms      Price  Bathroom  Landsize  Lattitude  Longtitude
1      2  1035000.0       1.0     156.0   -37.8079    144.9934
2      3  1465000.0       2.0     134.0   -37.8093    144.9944
4      4  1600000.0       1.0     120.0   -37.8072    144.9941
6      3  1876000.0       2.0     245.0   -37.8024    144.9993
7      2  1636000.0       1.0     256.0   -37.8060    144.9954
The Prediction Are
[1035000. 1465000. 1600000. 1876000. 1636000.]